params {
  // Default parameters
  outdir = "${projectDir}/results"
  expression_threshold = 0.1
  read_lengths = "24-30"
  // Additional parameters for mapping
  adapter = "AGATCGGAAGAGCACACGTCT"
  min_length = 20
  max_length = 40
  // Container
  samtools_version = "1.21--h96c455f_1"
  
}

//add profile for hpc settings
profiles {

  slurm { includeConfig './configs/slurm.config' }
  
  singularity {
    singularity.enabled = true
    singularity.autoMounts = true
    }
  
  test { includeConfig './configs/test.config' }

}

// define containers
process {
    withLabel:r {
      container = "${projectDir}/MiMB_ribosome_profiling.sif"
    }
    withLabel:samtools {
      container = "quay.io/biocontainers/samtools:${params.samtools_version}"
    }
}
